header {
    position: fixed;
	top: 0;
    width: 100%;
    min-height: 50px;
    background: #2c2c2c;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 1em;
    box-shadow: 0px 0px 5px #000;
}

ul.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 1em;
}

ul.nav-links li {
    display: flex;
	align-items: center;
    margin-right: 1.2em;
    font-size: 18px;
}

nav ul.nav-links li a {
	display: flex;
	align-items: center;
	justify-content: center;
}

header img {
    margin-right: 5px;
}

nav ul li .active-page {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #5b9e19;
	/* font-size: 1.3em; */
	text-shadow: 0 1px 10px #000;
}

nav a.nav-warrior:hover {
	color: #d9ac3b;
	/* font-size: 1.3em; */
	text-shadow: 0 1px 10px #000;
}

nav a.nav-guardian:hover {
	color: #95d5e7;
	/* font-size: 1.3em; */
	text-shadow: 0 1px 10px #000;
}

nav a.nav-revenant:hover {
	color: #7e3648;
	/* font-size: 1.3em; */
	text-shadow: 0 1px 10px #000;
}

nav a.nav-ranger:hover {
	color: #5b9e19;
	/* font-size: 1.3em; */
	text-shadow: 0 1px 10px #000;
}

nav a.nav-engineer:hover {
	color: #ba8840;
	/* font-size: 1.3em; */
	text-shadow: 0 1px 10px #000;
}

nav a.nav-thief:hover {
	color: #676e8b;
	/* font-size: 1.3em; */
	text-shadow: 0 1px 10px #000;
}

nav a.nav-elementalist:hover {
	color: #c54838;
	/* font-size: 1.3em; */
	text-shadow: 0 1px 10px #000;
}

nav a.nav-mesmer:hover {
	color: #9d66a6;
	/* font-size: 1.3em; */
	text-shadow: 0 1px 10px #000;
}

nav a.nav-necromancer:hover {
	color: #5b775a;
	/* font-size: 1.3em; */
	text-shadow: 0 1px 10px #000;
}

.build-help-cta {
    display: flex;
    justify-content: center;
    align-items: center;
}
