.gua-builds {
    /* border-top: 15px #95d5e7 solid; */
    border-top: 15px #3eb3e1 solid;
}

.gua-spec {
    /* border-bottom: 2px solid #95d5e7; */
    border-bottom: 2px solid #3eb3e1;
}

.gear img, .rota img {
    max-height: 100px;
    max-width: 100px;
}

.boons-fill {
    width: calc(70% - 8em);
    background: #ffd166;
}

.heal-fill {
    width: calc(90% - 8em);
    /* background: #6aa04f; */
    background: #67a748;
    /* #67a748 */
}

.cleave-fill {
    width: calc(60% - 8em);
    /* background: #f73b38; */
    background: #cc4d4b;
    /* #ff4b48 */
}

.cc-fill {
    width: calc(99% - 8em);
    background: #67a748;
    /* background: #6aa04f; */
}

.sc-cta-gua {
    padding: 1em 2em;
    /* background: #95d5e7; */
    background: #3eb3e1;
    box-shadow: 0px 1px 3px #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.help-gua {
    background: #3eb3e1;
}
