/* RESET START */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* RESET END */

/* General/Global Styles */
html, body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    background: #3f3f3f;
	color: #fff;
	background: url("http://gw2.purplellama.ca/wallpapers/sepia/1920x1080.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

a, a:link, a:visited, a:focus {
    text-decoration: none;
    color: #fff;
}

hr {
	border-top: 1px solid rgba(10, 10, 10, .40);
	border-bottom: 1px solid rgba(230, 230, 230, .20);
	margin: 20px 0;
}

/* Content */
.spacer {
    height: 800px;
    width: 100%;
}

#content {
    width: 100%;
	margin-top: 50px;

	background-size: cover;
}

.class-header {
	height: 150px;
	width: 100%;
	display: flex;
	/* background: #5b9e19; */
	margin-top: 100px;
	justify-content: center;
	align-items: center;
	font-size: 5em;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
}

.class-header-title {
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow: 2px 2px 4px #000;
}

.build {
	padding: 25px 0;
	max-width: 980px;
	margin: 45px auto 15px auto;
	background: #3f3f3f;
}

.build-header {
	height: 60px;
    max-width: 90%;
    border-radius: 10px 10px 0 0;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.build-header-text {
	font-size: 2em;
}

.build-content {
    max-width: 90%;
	margin: 0 auto 30px auto;
	background: #6e6e6e;
	padding: 20px 0;
	border-bottom: 2px solid #5b9e19;
}

.build-content-wrap {
	max-width: 90%;
	margin: 0 auto;
}

.build-desc {
	text-align: center;
}

.gear-desc, .rota-desc {
	text-align: center;
	font-size: 1.2em;
}

.gear, .rota {
	text-align: center;
}

.half-col {
	display: flex;
	justify-content: center;
}

.gear-rota {
	display: flex;
	justify-content: space-evenly;
}

.graph {
  max-width: 50em;
  max-height: 20em;
}

.meter {
  width: 100%;
  height: 2em;
  margin: 1em 0 0 0;
  position: relative;
  background: rgba(63, 63, 63, 0.4);
  background: lighten #3f3f3f, 50%;
  display: inline-block;
  margin-right: 1em;
}

.label {
  background: #2c2c2c;
  height: 2em;
  width: 4em;
  padding: 0 2em;
  display: inline-block;
  color: #fff;
  line-height: 2em;
  text-align: center;
}

.fill {
  height: 100%;
  display: inline-block;
  z-index: 222;
  position: absolute;
}

.names-desc {
	margin-bottom: 5px;
	font-size: 1.2em
}

.names, .build-link {
	text-align: center;
}

.build-link {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.request-help {
	position: fixed;
	bottom: 0.5em;
	right: 0.5em;
	background: #2c2c2c;
    box-shadow: 0px 1px 3px #000;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.raid-help-cta {
	text-align: center;
	background: #2c2c2c;
    color: #fff;
	padding: 1em;
	font-size: 1.2em;
	line-height: 1.5;
	max-width: 250px;
	max-height: 50px;
}

.hover-text {
	display: none;
}

.request-help:hover .hover-text{
	display: block;
	text-align: center;
	background: #2c2c2c;
    color: #fff;
	padding: 1em;
	font-size: 1.2em;
	line-height: 1.5;
	max-height: 50px;
}
.request-help:hover .raid-help-cta{
	display: none;
}

.request-help:hover {
	bottom: 0;
	right: 0;
	width: 100%;
}

.request-help a {
	width: 100%;
	height: 100%;
}
