.thi-builds {
    border-top: 15px #676e8b solid;
}

.thi-spec {
    border-bottom: 2px solid #676e8b;
}

.gear img, .rota img {
    max-height: 100px;
    max-width: 100px;
}

.boons-fill {
    width: calc(70% - 8em);
    background: #ffd166;
}

.heal-fill {
    width: calc(90% - 8em);
    /* background: #6aa04f; */
    background: #67a748;
    /* #67a748 */
}

.cleave-fill {
    width: calc(60% - 8em);
    /* background: #f73b38; */
    background: #cc4d4b;
    /* #ff4b48 */
}

.cc-fill {
    width: calc(99% - 8em);
    background: #67a748;
    /* background: #6aa04f; */
}

.sc-cta-thi {
    padding: 1em 2em;
    background: #676e8b;
    box-shadow: 0px 1px 3px #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.help-thi {
    background: #676e8b;
}
